<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        {% if id ==  None %}
	<UL>
	{% for state in states.values() | sort(attribute="name") %}
	    <LI>{{ state.id }} <B>{{ state.name }}</B>
        {% endfor %}
        </UL>
        {% else %}
        <H3>Cities</H3>
        <UL>
        {% for state in states.values() | sort(attribute="name") %}
            {% for city in cities.values() | sort(attribute="name") %}
                {% if city.states_id == state.id %}
                <LI>{{ city.id }} <B>{{ city.name }}</B></Li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% endif%}
        </UL>
    </BODY>
</HTML>

